	html, body {
		overflow: hidden;
		padding: 0; margin: 0;
		text-align: center;
			background-color: rgb(150, 150, 150);
	}
	@font-face {
		font-family: 'Yanone Kaffeesatz';
		font-style: normal;
		font-weight: 700;
		src: local('Yanone Kaffeesatz Bold'), local('YanoneKaffeesatz-Bold'), url(http://themes.googleusercontent.com/static/fonts/yanonekaffeesatz/v4/We_iSDqttE3etzfdfhuPRWwXwFHHZlCwprwJOQ-Se7k.woff) format('woff');
	}
	canvas {
		position: absolute; z-index: 99;
		top: 0; left: 0;
		width: 100%; height: 100%;
		z-index: 10;
	}
	.touchable {
		opacity: 0.1;
	}
	#status {
		display: none;
	}
	.ball {
		display: inline-block;
		overflow: visible;
		margin: 0 2% 25px 2%;
		line-height: 300px;

		color: rgba(255,255,255,1);
		text-decoration: none;
		background-color: rgba(219,87,5,1);
		font-family: 'Yanone Kaffeesatz';
		font-weight: 700;
		font-size: 3em;
		
		border-radius: 200px;
		-webkit-box-shadow: 0px 9px 0px rgba(219,31,5,1), 0px 9px 25px rgba(0,0,0,.7);
		-moz-box-shadow: 0px 9px 0px rgba(219,31,5,1), 0px 9px 25px rgba(0,0,0,.7);
		box-shadow: 0px 9px 0px rgba(219,31,5,1), 0px 9px 25px rgba(0,0,0,.7);
		width: 280px;
		height: 280px;
		text-align: center;
		-webkit-transition: all .1s ease;
		-moz-transition: all .1s ease;
		-ms-transition: all .1s ease;
		-o-transition: all .1s ease;
		transition: all .1s ease;
	}

	.ball.active{
		-webkit-box-shadow: 0px 3px 0px rgba(219,31,5,1), 0px 3px 6px rgba(0,0,0,.9);
		-moz-box-shadow: 0px 3px 0px rgba(219,31,5,1), 0px 3px 6px rgba(0,0,0,.9);
		box-shadow: 0px 3px 0px rgba(219,31,5,1), 0px 3px 6px rgba(0,0,0,.9);
		position: relative;
		top: 6px;
		z-index: 0;
	}
	